# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go coverage tool
*.out

# Dependency directories
vendor/
pgdata

# Environment files
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store